*{
   
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a {
    margin: 0 10px; /* Espaçamento entre os ícones */
}

.menu svg {
    width: 40px; /* Tamanho dos ícones */
    height: 40px;
    fill: rgb(0, 255, 34); /* Cor dos ícones */
}
